# 🔒 Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# 📋 Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ⚙️ Runtime data
pids
*.pid
*.seed
*.pid.lock

# 🧪 Coverage
coverage
*.lcov
.nyc_output

# 🧰 Grunt
.grunt

# 📦 Bower
bower_components

# ⚙️ node-waf
.lock-wscript

# 🔧 Compiled binaries
build/Release

# 📁 Dependências
node_modules/
jspm_packages/

# ❄️ Snowpack
web_modules/

# 🧠 TypeScript
*.tsbuildinfo

# ⚡ npm / Yarn / ESLint / Stylelint / Dotenv
.npm
.eslintcache
.stylelintcache
.env
.env.*
!.env.example

# 🧪 REPL history
.node_repl_history

# 📦 Output de empacotamento
*.tgz

# 🔐 Yarn
.yarn-integrity

# ⚡ Parcel
.cache
.parcel-cache

# 🚀 Next.js / Nuxt.js / Gatsby
.next
.nuxt
dist
.cache/
out

# 🧱 Vue / Vuepress
.vuepress/dist
.temp
.cache

# 🔥 Svelte / Vitepress / Vite
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# 📚 Docusaurus
.docusaurus

# ☁️ Serverless / DynamoDB / Firebase
.serverless/
.dynamodb/
.firebase/

# 🔧 FuseBox
.fusebox/

# 🔮 TernJS
.tern-port

# 🧪 VSCode
.vscode-test
.vscode/

# 🧵 Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
